@tailwind base;
@tailwind components;
@tailwind utilities;

a {
  padding: 3px;
  text-decoration: inherit;
  color: black;
}
a:hover {
  color: black;
}
.nav-item {
  padding: 3px;
  margin: 5px;
  width: 100px;
}
.nav-item:hover {
  background-color: rgba(107, 107, 107, 0.548);
}
.header {
  grid-area: h;
}

.nav {
  grid-area: n;
}

.header,
.content {
  background-color: #fff;
  border-radius: 10px;
}
