.dropbtn {
  color: white;
}
.dropdown {
  position: relative;
  display: inline-block;
}
.dropdown-content {
  margin-left: 2px;
  margin-top: 3px;
  color: #ffffff;
  display: none;
  position: absolute;
  min-width: 80px;
  z-index: 1;
}
.dropdown-content a {
  color: rgb(255, 255, 255);
}
.dropdown-content a:hover {
  background-color: #ffffff;
}
.dropdown:hover .dropdown-content {
  display: block;
}
