@tailwind base;
@tailwind components;
@tailwind utilities;
textarea {
  resize: none;
}
.comp {
  padding: 10px;
}
.comp input {
  width: 150px;
}
.comp button {
  background-color: rgb(240, 240, 240);
  border: none;
  margin: 5px;
  font-size: 15px;
  border-radius: 10px;
}
.comp button:hover {
  background-color: rgba(107, 107, 107, 0.548);
}
.table {
  color: white;
}
.loginbg {
  background-color: rgba(240, 240, 240, 0);
}
