@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  h1 {
    @apply text-5xl;
  }
  h2 {
    @apply text-4xl;
  }
  h3 {
    @apply text-3xl;
  }
  h4 {
    @apply text-2xl;
  }
  h5 {
    @apply text-xl;
  }
  h6 {
    @apply text-base;
  }
}
textarea {
  resize: none;
}
.comp {
  padding: 10px;
}
.comp input {
  width: 150px;
}
.comp button {
  background-color: rgb(240, 240, 240);
  border: none;
  margin: 5px;
  font-size: 15px;
  border-radius: 10px;
}
.comp button:hover {
  background-color: rgba(107, 107, 107, 0.548);
}
.table {
  color: white;
}
.loginbg {
  background-color: rgba(240, 240, 240, 0);
}
.content {
  background-color: #f2f2f2;
}
