@tailwind base;
@tailwind components;
@tailwind utilities;
a {
  padding: 3px;
  text-decoration: inherit;
  color: black;
}
a:hover {
  color: black;
}
.nav-item {
  padding: 3px;
  margin: 5px;
  width: 100px;
  border-radius: 15px;
}
.nav-item:hover {
  background-color: rgba(107, 107, 107, 0.548);
}
.wrapper {
  margin: 1%;
  display: grid;
  grid-template-areas:
    "h h"
    "n c";
  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 15fr;
  grid-gap: 10px;
}

.header {
  grid-area: h;
}

.nav {
  grid-area: n;
}

.content {
  grid-area: c;
}

.nav,
.header,
.content {
  background-color: #fff;
  border: solid;
  border-color: rgb(116, 116, 116);
  border-radius: 10px;
}
